.body{
  overflow : visible;
}

.table,
.th,
.td {
  border: 0.5px solid black;
  font-family: 'Ubuntu';
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .class{
  content: "";
  clear: both;
  display: table;
  align-items: center;
  justify-content: center;
} */
/* .alert{
  font-family: 'Lora';
  text-align: center;
} */
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.iframe {
    border: 1px solid black;
    width: 100%;
}

.output {
    background: #eee;
}

.navbar{

  text-align: left;
  font-family: 'Ubuntu';
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffb3b3;
  color: white;
  font-family: 'Ubuntu';
  font-size: 13px;
}


.modal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.4);
}
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

footer{
  background-color: #6ecbea !important;
}

footer a{
  color: #376575!important;
  align-items: center !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ffb3b3;
    border-color: #ffb3b3;
}
